/* Tic-Tac-Toe stiilileht */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Jagab lehe kaheks veeruks */
  grid-template-rows: 1fr 1fr 1fr; /* Loob 3 rida */
  grid-template-rows: auto auto auto; /* Jagab lehe kolmeks reaks, kus keskmine rida kohandub sisule */
  align-items: center; /* Horisontaalne keskendamine */
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 2px;
  width: 306px;
  margin-left: 70px;
}

.game-container {
  display: block;
  align-items: center;
  margin-left: 100px;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 36px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}

.cell:hover {
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

#player-turn {
  font-size: 24px;
}

#refreshButton {
  background-color: #5271ff;
  color: white;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  border-width: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#refreshButton:hover {
  background-color: #0056b3;
}


#text {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin-right: 50px;
  margin-left: 40px;
  line-height: 1.5;
  font-size: 18px;
  text-align: left;
}



#bugReport {
padding: 0px;
margin-bottom: 40px;
}


form {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #e3eafc;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  padding-bottom: 5px;
}

input[type="submit"] {
  background-color: #5271ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 300px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0056b3;
}

.message {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

.kontrolli-button {
  display: grid;
  place-items: center;
}

/* järgmine mäng nupp */

.next-game-button {
  background-color: #5271ff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s;
  /* font-weight: bold; */
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.next-game-button:hover {
  background-color: #0056b3;
}

.next-game-button-container {
  text-align: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  
}

.button-bugreport-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: center;
  padding-top: 30px;
}