/* #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
}

.image {
    height: 30px;
    width: 30px;
} */


body {
    margin: 0;
    font-family: Arial, sans-serif; /* Või mis tahes muu font, mida eelistate */
}

#menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff; /* Või mis tahes muu taustavärv, mida eelistate */
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px; /* Määrab menüüelementide vahekauguse */
    margin-left: left; /* Lükkab menüü paremale poole */
}

#menu li a {
    text-decoration: none;
    color: #5271ff; /* Menüü kirje tekstivärv */
    font-size: 16px;
    text-transform: uppercase;
}

#menu li a:hover {
    color: #004291; /* Menüü kirje tekstivärv hover-efekti puhul */
}

#logo img {
    height: 50px; /* Logo kõrgus, kohandage vastavalt vajadusele */
    width: 50px;
    margin-left: 30px;
    margin-right: 60px;
}

/* Kui on vaja responsive disaini */
@media (max-width: 600px) {
    #menu {
        flex-direction: column;
    }

    #menu ul {
        margin-left: 0;
        padding-top: 10px;
    }
}